.whois{
	border: 1px solid lightGrey;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: lightGrey;
	border-right-color: lightGrey;
	border-bottom-color: lightGrey;
	border-left-color: lightGrey;
	padding: 5px;
	box-shadow: 2px 2px 4px black;
	-webkit-box-shadow: 2px 2px 4px black;
}