nav {
  a + a { border-left: 1px solid black; margin-left: 10px; padding-left: 10px; }
}
ul {
	padding-left: 40px;
	padding-top: 10px;
	li {
		list-style: square;
		padding-left: 40px;
		padding-top: 10px;
	}
}
h1 {
	font-size:2em;
	padding-top: 20px;
	padding-left: 20px;
	color:white;
}
h2.h2 {
	font-size:1.5em;
	padding-top: 20px;
	padding-left: 20px;
}
p.p {
	padding-left: 20px;
	padding-top: 20px;
}
#comment_body {
	height:80px;
}

#new-comment{
	width:200px;
	float:rigth;
}

div.comment {
	background-image: -webkit-linear-gradient(top, #dddddd, #a1a1a1);
	width:300px;
	border-width:1px;
	border-color:grey;
	border-style:solid;

}

